#BMR{
  padding-top: 60px;
  margin-top: 245px;

   @media (min-width: 333px) {
    margin-top: 205px;
  }

  @media (min-width: 380px) {
    margin-top: 150px;
  }

  @media (min-width: 530px) {
    margin-top: 110px;
  }

  @media (min-width: 870px) {
    margin-top: 78px;
  }
}


/* =========== Calculate BMR style ============ */
input{
  background-color: $partHeaderFooter-BC;
  color: $partHeaderFooter-C;
}
legend{
  background-color: initial;
}
.container {
  overflow: hidden;

}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */


}

/* The "show" class is added to the filtered elements */
.show {
  display: inline-block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;

}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

.header {
  background: #1abc9c;
}
